commentjson==0.9.0
numpy==1.21.2
pybind11==2.7.1
tqdm==4.62.2
opencv-python==4.5.5.62
matplotlib==3.7.2
imageio==2.19.1
scikit-image==0.19.2
scikit-learn==1.1.3
scipy==1.8.0
Pillow==9.0.1
diffusers @ git+https://github.com/huggingface/diffusers@df2b548e893ccb8a888467c2508756680df22821
transformers @ git+https://github.com/huggingface/transformers@8637316e5e94ba0a2493e5df7846f2f23f46eaef
point-e @ git+https://github.com/openai/point-e@fc8a607c08a3ea804cc82bf1ef8628f88a3a5d2f
kornia==0.6.7
gradio==3.4.1
trimesh==3.17.1
accelerate==0.15.0
