commentjson
dvc
numpy
opencv-python
pandas
pillow
pybind11
scikit-image
tqdm
trimesh
accelerate==0.15.0
diffusers @ git+https://github.com/huggingface/diffusers@df2b548e893ccb8a888467c2508756680df22821
transformers @ git+https://github.com/huggingface/transformers@8637316e5e94ba0a2493e5df7846f2f23f46eaef
